# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


libatk1.0-0t64 (>= 1.12.4)
libatkmm-1.6-1v5 (>= 2.28.4)
libc6 (>= 2.38
libcairo2 (>= 1.18.0)
libglib2.0-0t64 (>= 2.79.0)
libglibmm-2.4-1t64 (>= 2.66.7)
libgtk-3-0t64 (>= 3.21.5)
libgtk2.0-0t64 (>= 2.8.0)
libgtkmm-3.0-1t64 (>= 3.24.9)
liblerc4 (>= 3.0)
libpng16-16t64 (>= 1.6.2)
libproj25 (>= 8.2.0)
libpython3.12t64 (>= 3.12.1)
libsasl2-2 (>= 2.1.28+dfsg1)
libssl3t64 (>= 3.0.0)
libstdc++6 (>= 13.1)
libwebp7 (>= 1.3.2)
libzip4t64 (>= 0.10)
